{% extends 'base.html.twig' %}

{% block main %}
    {% if app.user %}
        {% if app.user.isAdmin %}
        <div class="container body-content span=8 offset=2">
            <div class="well">
                <form class="form-horizontal" action="{{ path('newuser_register') }}" method="POST">
                    <fieldset>
                        <legend>New user</legend>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="email">Email</label>
                            <div class="col-sm-4 ">
                                <input type="text" class="form-control" id="user_email" placeholder="email"
                                       name="user[email]" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="password">Password</label>
                            <div class="col-sm-4 ">
                                <input type="password" class="form-control" id="user_password" placeholder="password"
                                       name="user[password]" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="fullName">Name</label>
                            <div class="col-sm-4 ">
                                <input type="text" class="form-control" id="user_fullName" placeholder="User full name"
                                       name="user[fullName]" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="city">City</label>
                            <div class="col-sm-4 ">
                                <input type="text" class="form-control" id="user_city" placeholder="City"
                                       name="user[city]" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="address">Address</label>
                            <div class="col-sm-4 ">
                                <input type="text" class="form-control" id="user_address" placeholder="Address"
                                       name="user[address]" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="phone">Phone</label>
                            <div class="col-sm-4 ">
                                <input type="text" class="form-control" id="user_phone" placeholder="Phone"
                                       name="user[phone]" >
                            </div>
                        </div>
                        {# TODO: да се имплеметира по-красив календар#}
                        {{ form_row(userForm.birthday) }}
                        {{ form_row(userForm._token) }}

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-4">
                                <a class="btn btn-danger" href="{{ path('users') }}">Cancel</a>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    {% endif %}
    {% else %}
        <hr class="my-4">
        <p class="lead"></p> Your ar not loged in. Please <a href="{{ path('security_login') }}">loggin</a>!</p>
        <hr class="my-4">
        <p class="lead">If you do not have a registration, please contact your administrator to get a name and password.<br>
            Only users registered by the administrator can access this site.</p>
    {% endif %}
{% endblock %}
