{% extends 'base.html.twig' %}

{% block title %}{{ 'page.edit_role'|trans }}{% endblock %}

{% block main %}
    {% if app.user %}
        <div class="container mt-4">
            <h2>{{ 'page.edit_role'|trans }}</h2>

            {{ form_start(roleForm, {'attr': {'class': 'mt-4'}}) }}
                <div class="mb-3">
                    {{ form_label(roleForm.name, 'table.role_name'|trans, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(roleForm.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(roleForm.name) }}
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">{{ 'button.save'|trans }}</button>
                    <a href="{{ path('roles') }}" class="btn btn-secondary">{{ 'button.cancel'|trans }}</a>
                </div>
            {{ form_end(roleForm) }}
        </div>
    {% else %}
        <hr class="my-4">
        {{ 'status.not_logged_in'|trans }} <a href="{{ path('security_login') }}">{{ 'nav.login'|trans }}</a>!
        <hr class="my-4">
    {% endif %}
{% endblock %}
