{% extends 'base.html.twig' %}

{% block main %}
    {% if app.user %}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Options</th>
            </tr>

            {% for user in users %}
                <tr>
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.Roles() | join(' | ') }}</td>
                    <td><a class="btn btn-success" href="/profile/{{ user.id }}">View profile</a>

                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <hr class="my-4">
        Your ar not loged in. Please <a href="{{ path('security_login') }}">loggin</a>!
        <hr class="my-4">
    {% endif %}
{% endblock %}
