{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block main %}
       {% if app.user %}
           <h1 class="display-5">{{ 'title.hello'|trans({'%name%': app.user.fullName}) }}</h1>
           <Hr class="my-4">
           <table class="table">
               <tr><th colspan="5">{{ 'table.received_evaluations'|trans }}</th> </tr>
               <tr>
                   <th>{{ 'table.course'|trans }}</th>
                   <th>{{ 'table.value'|trans }}</th>
                   <th>{{ 'table.comment'|trans }}</th>
                   <th>{{ 'table.teacher'|trans }}</th>
                   <th>{{ 'table.date'|trans }}</th>
               </tr>
               {% for evaluation in evaluations %}
                   <tr>
                       <td>{{ evaluation.course.name }}</td>
                       <td>{{ evaluation.value }}</td>
                       <td>{{ evaluation.comment }}</td>
                       <td>{{ evaluation.teacher.fullName }}</td>
                       <td>{{ evaluation.dateAdded| date("d/M/Y") }}</td>
                       <td><a class="btn btn-success" href="/evaluation/{{ evaluation.id }}">{{ 'button.view'|trans }}</a></td>
                   </tr>
               {% endfor %}
           </table>
           <hr>
           {% if not app.user.isStudent %}
           <table class="table">
               <tr><th  colspan="6">{{ 'table.given_evaluations'|trans }}</th> </tr>
               <tr>
                   <th>{{ 'table.course'|trans }}</th>
                   <th>{{ 'table.value'|trans }}</th>
                   <th>{{ 'table.comment'|trans }}</th>
                   <th>{{ 'table.student'|trans }}</th>
                   <th colspan="2">{{ 'table.date'|trans }}</th>
               </tr>
               {% for giveEvaluation in giveEvaluation %}
                   <tr>
                       <td>{{ giveEvaluation.course.name }}</td>
                       <td>{{ giveEvaluation.value }}</td>
                       <td>{{ giveEvaluation.comment }}</td>
                       <td>{{ giveEvaluation.student.fullName }}</td>
                       <td>{{ giveEvaluation.dateAdded| date("d/M/Y") }}</td>
                       <td><a class="btn btn-success" href="/evaluation/{{ giveEvaluation.id }}">{{ 'button.view'|trans }}</a></td>
                   </tr>
               {% endfor %}
           </table>
           {% endif %}
       {% else %}
           <hr class="my-4">
           <p class="lead">{{ 'status.not_logged_in'|trans }} <a href="{{ path('security_login') }}">{{ 'nav.login'|trans }}</a>!</p>
           <hr class="my-4">

       {% endif %}

{% endblock %}

