{% extends 'base.html.twig' %}

{% block title %}{{ 'help.title'|trans }}{% endblock %}

{% block main %}
<h3 class="display-5">{{ 'help.title'|trans }}</h3>
    {% if not app.user %}
        <hr class="my-4">
        <p class="lead">{{ 'help.guest.need_account'|trans }}<br>
            {{ 'help.guest.have_account'|trans }} <a href="{{ path('security_login') }}">{{ 'nav.login'|trans }}</a>
        </p>
        <p class="lead">
            {{ 'help.guest.first_install'|trans }}<br>
            {{ 'help.guest.register_first'|trans }} <a href="{{ path('user_register') }}">{{ 'nav.register'|trans }}</a>.
        </p>
    {% else %}
        {% if app.user.isAdmin %}
            <hr class="my-4">
            <p class="lead">
                {{ 'help.admin.setup_required'|trans }}<br>
            </p>
            <p class="text-justify">{{ 'help.admin.courses_section'|trans }} <a href="{{ path('courses') }}">{{ 'nav.courses'|trans }}</a> {{ 'help.admin.courses_create'|trans }} <a href="{{ path('course_create') }}">{{ 'button.create_course'|trans }}</a>. {{ 'help.admin.courses_form'|trans }}<br>
                {{ 'help.admin.courses_unique'|trans }}<br>
                {{ 'help.admin.courses_manage'|trans }} <a href="{{ path('courses') }}">{{ 'nav.courses'|trans }}</a>. {{ 'help.admin.courses_edit'|trans }}
            </p>
            <p class="text-justify">{{ 'help.admin.users_section'|trans }} <a href="{{ path('users') }}">{{ 'nav.users'|trans }}</a> {{ 'help.admin.users_create'|trans }} <a href="{{ path('newuser_register') }}">{{ 'button.create_user'|trans }}</a>. {{ 'help.admin.users_form'|trans }}<br>
                {{ 'help.admin.users_unique'|trans }}<br>
                {{ 'help.admin.users_roles'|trans }} <a href="{{ path('users') }}">{{ 'nav.users'|trans }}</a>, {{ 'help.admin.users_roles_button'|trans }} <a href="{{ path('roles') }}">{{ 'button.manage_roles'|trans }}</a>.
                {{ 'help.admin.users_roles_access'|trans }}
                {{ 'help.admin.users_profile'|trans }}
                {{ 'help.admin.users_display'|trans }} <a href="{{ path('users') }}">{{ 'nav.users'|trans }}</a>. {{ 'help.admin.users_categories'|trans }}
                {{ 'help.admin.teacher_role'|trans }}
            </p>

        {% endif %}
        {% if app.user.isTeacher %}
            <hr class="my-4">
            <p class="text-justify">
                {{ 'help.teacher.evaluations_view'|trans }} <a href="{{ path('all_evaluation') }}">{{ 'nav.evaluation'|trans }}</a> {{ 'help.teacher.evaluations_access'|trans }}<br>
                {{ 'help.teacher.evaluations_delete'|trans }}<br>
            </p>
            <p class="text-justify">
                {{ 'help.teacher.give_evaluation'|trans }} <a href="{{ path('users') }}">{{ 'nav.users'|trans }}</a>, {{ 'help.teacher.give_evaluation_button'|trans }}
                {{ 'help.teacher.evaluation_form'|trans }}
                {{ 'help.teacher.evaluation_content'|trans }}
                {{ 'help.teacher.evaluation_edit'|trans }}
            </p>
        {% endif %}
        {% if app.user.isStudent %}
            <hr class="my-4">
            <p class="lead">
                {{ 'help.student.dashboard_info'|trans }} <a href="{{ path('homepage') }}">Dashboard</a>. {{ 'help.student.dashboard_grades'|trans }}
                {{ 'help.student.all_evaluations'|trans }} <a href="{{ path('all_evaluation') }}">{{ 'nav.evaluation'|trans }}</a>, {{ 'help.student.all_evaluations_view'|trans }}<br>
                {{ 'help.student.profile_access'|trans }} <a href="/profile/{{ app.user.id }}">{{ 'nav.my_profile'|trans }}</a> {{ 'help.student.profile_details'|trans }}
            </p>
        {% endif %}
    {% endif %}

{% endblock %}

