{% extends 'base.html.twig' %}

{% block main %}

    {% if app.user %}
        <div class="container body-content span=8 offset=2">
            <div class="well">
                <div class="alert alert-warning">
                    <h4>Delete Confirmation</h4>
                    <p>Are you sure you want to delete this evaluation? This action cannot be undone.</p>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Evaluation Details</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Grade:</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{ evaluation.value }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Comment:</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">{{ evaluation.comment }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Course:</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">{{ evaluation.course.name }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Student:</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">{{ evaluation.student.fullName }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Date:</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">{{ evaluation.dateAdded | date("d/M/Y") }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_start(deleteForm, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('all_evaluation') }}">{{ 'button.cancel'|trans }}</a>
                            {{ form_widget(deleteForm.delete) }}
                        </div>
                    </div>
                {{ form_end(deleteForm) }}
            </div>
        </div>
    {% else %}
        <hr class="my-4">
        You are not logged in. Please <a href="{{ path('security_login') }}">login</a>!
        <hr class="my-4">
    {% endif %}
{% endblock %}