{% extends 'base.html.twig' %}

{% block main %}

    {% if app.user %}
        <div class="container body-content span=8 offset=2">
            <div class="well">
                <form class="form-horizontal" action="/evaluation/{{ evaluation.id }}/edit" method="POST">
                    <fieldset>
                        <legend>Edit evaluation</legend>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="evaluation_value">Evaluation value</label>
                            <div class="col-sm-4 ">
                                <input type="text" class="form-control" id="evaluation_value" placeholder="Evaluation value"
                                       name="evaluation[value]" value="{{ evaluation.value }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="evaluation_content">{{ 'form.content'|trans }}</label>
                            <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="evaluation_content"
                                  name="evaluation[comment]" >{{ evaluation.comment }}</textarea>
                            </div>
                        </div>
                        {{ form_row(evform.course) }}
                        {{ form_row(evform._token) }}

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-4">
                                <a class="btn btn-danger" href="{{ path('users') }}">{{ 'button.cancel'|trans }}</a>
                                <button type="submit" class="btn btn-primary">{{ 'button.save'|trans }}</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    {% else %}
        <hr class="my-4">
        {{ 'status.not_logged_in'|trans }} <a href="{{ path('security_login') }}">{{ 'nav.login'|trans }}</a>!
        <hr class="my-4">
    {% endif %}
{% endblock %}