{% extends 'base.html.twig' %}

{% block title %}{{ 'table.evaluation'|trans }} #{{ evaluation.id }}{% endblock %}

{% block main %}
    {% if app.user %}
        <hr class="my-4">
        <h4 class="display-5">{{ 'table.evaluation'|trans }} {{ 'table.number'|trans }}: {{ evaluation.id }}</h4>
        <hr class="my-3">
        {{ 'table.teacher'|trans }}: <a href="/profile/{{ evaluation.authorId }}">{{ evaluation.teacher.fullName }}</a><br>
        {{ 'table.student'|trans }}: <a href="/profile/{{ evaluation.recipient }}">{{ evaluation.student.fullName }}</a><br>
        {{ 'table.course'|trans }}: <a href="/courses/{{ evaluation.courseid }}">{{ evaluation.course.name }}</a><br>
        {{ 'table.date'|trans }}: {{ evaluation.dateAdded | date("d/M/Y")}}<br>
        <h4 class="display-5">{{ 'table.value'|trans }}: {{ evaluation.value }}</h4>
        {{ 'table.comment'|trans }}: {{ evaluation.comment }}<br>
        <a class="btn btn-dark" href="{{ path('all_evaluation') }}">{{ 'button.back'|trans }}</a>
        {% if evaluation.authorId == app.user.id %}
            <a class="btn btn-warning" href="/evaluation/{{ evaluation.id }}/edit">{{ 'button.edit'|trans }} {{ 'table.evaluation'|trans }}</a>
        {% endif %}
    {% else %}
        <hr class="my-4">
        {{ 'status.not_logged_in'|trans }} <a href="{{ path('security_login') }}">{{ 'nav.login'|trans }}</a>!
        <hr class="my-4">
    {% endif %}
{% endblock %}
