{% extends 'base.html.twig' %}

{% block title %}{{ 'title.evaluation'|trans }}{% endblock %}

{% block main %}
    {% if app.user %}

        <table class="table table-striped">
            <tr>
                <th>{{ 'table.course'|trans }}</th>
                <th>{{ 'table.teacher'|trans }}</th>
                <th>{{ 'table.student'|trans }}</th>
                <th>{{ 'table.evaluation'|trans }}</th>
                <th>{{ 'table.comment'|trans }}</th>
                <th>{{ 'table.date'|trans }}</th>
                <th>{{ 'table.options'|trans }}</th>
            </tr>
            {% for evaluation in evaluations %}
                <tr>
                    <td>{{ evaluation.course.name }}</td>
                    <td>{{ evaluation.teacher.fullName }}</td>
                    <td>{{ evaluation.student.fullName }}</td>
                    <td>{{ evaluation.value }}</td>
                    <td>{{ evaluation.comment }}</td>
                    <td>{{ evaluation.dateAdded| date("d/M/Y") }}</td>
                    <td>
                        <a class="btn btn-success" href="/evaluation/{{ evaluation.id }}">{{ 'button.view'|trans }}</a>
                        {% if evaluation.authorId == app.user.id %}
                            <a class="btn btn-warning" href="/evaluation/{{ evaluation.id }}/edit">{{ 'button.edit'|trans }}</a>
                        {% endif %}
                        {% if evaluation.authorId == app.user.id or app.user.isAdmin %}
                            <a class="btn btn-danger" href="/evaluation/{{ evaluation.id }}/delete">{{ 'button.delete'|trans }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

        </table>
    {% else %}
        <hr class="my-4">
        {{ 'status.not_logged_in'|trans }} <a href="{{ path('security_login') }}">{{ 'nav.login'|trans }}</a>!
        <hr class="my-4">
    {% endif %}

{% endblock %}
