{% extends 'base.html.twig' %}

{% block main %}
    {% if app.user %}

        <table class="table table-striped">
            <tr>
                <th>Course</th>
                <th>Teacher</th>
                <th>Student</th>
                <th>Evaluation</th>
                <th>Comment</th>
                <th>Date</th>
                <th>Option</th>
            </tr>
            {% for evaluation in evaluations %}
                <tr>
                    <td>{{ evaluation.course.name }}</td>
                    <td>{{ evaluation.teacher.fullName }}</td>
                    <td>{{ evaluation.student.fullName }}</td>
                    <td>{{ evaluation.value }}</td>
                    <td>{{ evaluation.comment }}</td>
                    <td>{{ evaluation.dateAdded| date("d/M/Y") }}</td>
                    <td>
                        <a class="btn btn-success" href="/evaluation/{{ evaluation.id }}">View</a>
                        {% if evaluation.authorId == app.user.id %}
                            <a class="btn btn-warning" href="/evaluation/{{ evaluation.id }}/edit">Edit</a>
                        {% endif %}
                        {% if evaluation.authorId == app.user.id or app.user.isAdmin %}
                            <a class="btn btn-danger" href="/evaluation/{{ evaluation.id }}/delete">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

        </table>
    {% else %}
        <hr class="my-4">
        Your ar not loged in. Please <a href="{{ path('security_login') }}">loggin</a>!
        <hr class="my-4">
    {% endif %}

{% endblock %}
