{% extends 'base.html.twig' %}

{% block main %}
    {% if app.user %}
        <h1 class="display-5">Hello, {{ app.user.fullName }}!</h1>
        <hr class="my-4">
        {% if app.user.isAdmin %}
            <p class="lead">Create new course</p>
            <a type="button" class="btn btn-primary" href="{{ path('course_create') }}">Create course</a><br>
            <hr class="my-4">
        {% endif %}
        <p class="lead">you have access to the following courses:</p>
        {% for course in courses %}
            <a type="button" class="btn btn-success" href="/courses/{{ course.id }}">{{ course.name }}</a>
        {% endfor %}
        <hr class="my-4">
    {% else %}
        <hr>
        Your ar not loged in. Please <a href="{{ path('security_login') }}">loggin</a>!
        <hr>
    {% endif %}
{% endblock %}

