{% extends "base.html.twig" %}

{% block title %}{{ 'button.create_course'|trans }}{% endblock %}

{% block main %}
    {% if app.user %}
        <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('course_create') }}" method="POST">
                <fieldset>
                    <legend>{{ 'button.create_course'|trans }}</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="course_name">{{ 'form.course_name'|trans }}</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="course_name" placeholder="{{ 'form.course_name'|trans }}"
                                   name="course[name]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="course_content">{{ 'form.course_description'|trans }}</label>
                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="course_content_content"
                                  name="course[content]"></textarea>
                        </div>
                    </div>

                    {{ form_row(courseForm._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-danger" href="{{ path('courses') }}">{{ 'button.cancel'|trans }}</a>
                            <button type="submit" class="btn btn-primary">{{ 'button.create'|trans }}</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    {% else %}
        <hr class="my-4">
        {{ 'status.not_logged_in'|trans }} <a href="{{ path('security_login') }}">{{ 'nav.login'|trans }}</a>!
        <hr class="my-4">
    {% endif %}
{% endblock %}