{% extends 'base.html.twig' %}

{% block main %}
    {% if app.user %}

<table class="table table-striped">
    <tr>
        <th>Course</th>
        <th>Teacher</th>
        <th>Student</th>
        <th>Evaluation</th>
        <th>Comment</th>
        <th>Date</th>
        <th>Option</th>
    </tr>
    {% for evaluation in evaluations %}
    <tr>
        <td>{{ evaluation.course.name }}</td>
        <td>{{ evaluation.teacher.fullName }}</td>
        <td>{{ evaluation.student.fullName }}</td>
        <td>{{ evaluation.value }}</td>
        <td>{{ evaluation.comment }}</td>
        <td>{{ evaluation.dateAdded| date("d/M/Y") }}</td>
        <td><a class="btn btn-primary" href="/evaluation/{{ evaluation.id }}">View</a></td>
    </tr>
    {% endfor %}

</table>
    {% endif %}
{% endblock %}

