{% extends 'base.html.twig' %}

{% block title %}{{ 'title.users'|trans }}{% endblock %}

{% block main %}
    <div class="jumbotron">
        {% if app.user %}
            <h1 class="display-5">{{ 'title.hello'|trans({'%name%': app.user.fullName}) }}</h1>
            <hr class="my-4">

            {% if app.user.isAdmin %}
                <a class="btn btn-primary" href="{{ path('newuser_register') }}">{{ 'button.create_user'|trans }}</a>
                <a class="btn btn-success" href="{{ path('roles') }}">{{ 'button.manage_roles'|trans }}</a>
                <a class="btn btn-info" href="{{ path('roles_users') }}">{{ 'page.all_users_with_roles'|trans }}</a>
                <hr class="my-4">
            {% endif %}
            <table class="table table-striped">
                {% if app.user.isAdmin %}
                    <tr><td colspan="4">{{ 'table.admins'|trans }}</td></tr>
                    <tr>
                        <th>{{ 'table.name'|trans }}</th>
                        <th>{{ 'table.email'|trans }}</th>
                        <th>{{ 'table.roles'|trans }}</th>
                        <th>{{ 'table.options'|trans }}</th>
                    </tr>
                    {% for admin in admins %}

                        <tr>
                            <td>{{ admin.fullName }}</td>
                            <td>{{ admin.email }}</td>
                            <td>{{ admin.stringRoles | join(', ') }}</td>
                            <td>
                                <a class="btn btn-success" href="/profile/{{ admin.id }}">{{ 'button.view'|trans }} {{ 'title.profile'|trans }}</a>
                                <a class="btn btn-secondary" href="/profile/{{ admin.id }}/edit">{{ 'button.edit'|trans }} {{ 'title.profile'|trans }}</a>
                                <a class="btn btn-info" href="/roles/user/{{ admin.id }}/edit">{{ 'button.edit'|trans }} {{ 'table.roles'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if app.user.isAdmin or app.user.isTeacher %}
                    <tr><td colspan="4">{{ 'table.teachers'|trans }}</td></tr>
                    <tr>
                        <th>{{ 'table.name'|trans }}</th>
                        <th>{{ 'table.email'|trans }}</th>
                        <th>{{ 'table.roles'|trans }}</th>
                        <th>{{ 'table.options'|trans }}</th>
                    </tr>
                    {% for teacher in teachers %}

                        <tr>
                            <td>{{ teacher.fullName }}</td>
                            <td>{{ teacher.email }}</td>
                            <td>{{ teacher.stringRoles | join(', ') }}</td>
                            <td>
                                <a class="btn btn-success" href="/profile/{{ teacher.id }}">{{ 'button.view'|trans }} {{ 'title.profile'|trans }}</a>
                                {% if app.user.isAdmin %}
                                    <a class="btn btn-secondary" href="/profile/{{ teacher.id }}/edit">{{ 'button.edit'|trans }} {{ 'title.profile'|trans }}</a>
                                    <a class="btn btn-info" href="/roles/user/{{ teacher.id }}/edit">{{ 'button.edit'|trans }} {{ 'table.roles'|trans }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr><td colspan="4">{{ 'table.students'|trans }}</td></tr>
                <tr>
                    <th>{{ 'table.name'|trans }}</th>
                    <th>{{ 'table.email'|trans }}</th>
                    <th>{{ 'table.roles'|trans }}</th>
                    <th>{{ 'table.options'|trans }}</th>
                </tr>
                {% for student in students %}

                    <tr>
                        <td>{{ student.fullName }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.stringRoles | join(', ') }}</td>
                        <td>
                            {% if app.user.isTeacher %}
                                <a class="btn btn-warning" href="/evaluation/create/{{ student.id }}">{{ 'button.give_evaluation'|trans }}</a>
                            {% endif %}
                            <a class="btn btn-success" href="/profile/{{ student.id }}">{{ 'button.view'|trans }} {{ 'title.profile'|trans }}</a>
                            {% if app.user.isAdmin %}
                                <a class="btn btn-secondary" href="/profile/{{ student.id }}/edit">{{ 'button.edit'|trans }} {{ 'title.profile'|trans }}</a>
                                <a class="btn btn-info" href="/roles/user/{{ student.id }}/edit">{{ 'button.edit'|trans }} {{ 'table.roles'|trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                {% if app.user.isAdmin and usersWithOtherRoles|length > 0 %}
                    <tr><td colspan="3">{{ 'table.users_with_other_roles'|trans }}</td></tr>
                    <tr>
                        <th>{{ 'table.name'|trans }}</th>
                        <th>{{ 'table.email'|trans }}</th>
                        <th>{{ 'table.roles'|trans }}</th>
                        <th>{{ 'table.actions'|trans }}</th>
                    </tr>
                    {% for user in usersWithOtherRoles %}
                        <tr>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.stringRoles | join(', ') }}</td>
                            <td>
                                <a class="btn btn-success" href="/profile/{{ user.id }}">{{ 'button.view'|trans }} {{ 'title.profile'|trans }}</a>
                                <a class="btn btn-secondary" href="/profile/{{ user.id }}/edit">{{ 'button.edit'|trans }} {{ 'title.profile'|trans }}</a>
                                <a class="btn btn-info" href="/roles/user/{{ user.id }}/edit">{{ 'button.edit'|trans }} {{ 'table.roles'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

                {% if app.user.isAdmin and usersWithoutRoles|length > 0 %}
                    <tr><td colspan="4">{{ 'additional.users_without_roles'|trans }}</td></tr>
                    <tr>
                        <th>{{ 'table.name'|trans }}</th>
                        <th>{{ 'table.email'|trans }}</th>
                        <th>{{ 'table.roles'|trans }}</th>
                        <th>{{ 'table.actions'|trans }}</th>
                    </tr>
                    {% for user in usersWithoutRoles %}
                        <tr>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ 'additional.no_roles'|trans }}</td>
                            <td>
                                <a class="btn btn-success" href="/profile/{{ user.id }}">{{ 'button.view'|trans }} {{ 'title.profile'|trans }}</a>
                                <a class="btn btn-secondary" href="/profile/{{ user.id }}/edit">{{ 'button.edit'|trans }} {{ 'title.profile'|trans }}</a>
                                <a class="btn btn-info" href="/roles/user/{{ user.id }}/edit">{{ 'additional.assign_role'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        {% endif %}
    </div>

{% endblock %}
